@charset "utf-8";
/* CSS Document */

body {
	font-family: 'Helvetica Neue', Helvetica, 'Liberation Sans', Arial, 'Hiragino Sans GB', 'Microsoft YaHei', 'WenQuanYi Micro Hei', sans-serif;
	font-size: 13px;
	color: #3e4855;
}

img { 
	padding:10px 10px 15px; 
	background:white; 
	border:1px solid #DDD; 
	box-shadow:2px 2px 3px rgba(50, 50, 50, 0.4);
	-webkit-transition:all 0.5s ease-in;
	-moz-transition:all 0.5s ease-in;
	transition:all 0.5s ease-in; 
	position:absolute; 
	z-index:1;
}

img:hover{
	box-shadow:15px 15px 20px rgba(50, 50, 50, 0.4); 
	-webkit-transform:rotate(0deg) scale(1.20); 
	-moz-transform:rotate(0deg) scale(1.20); 
	transform:rotate(0deg) scale(1.20); 
	z-index:2;
}

.textStyle{
	z-index: 999;
}

.imageArea{
	padding: 80px 80px 80px;
	position:relative;
}

.bodyContent{
	background-image: url("../imgs/background/6.JPG");
	/*background-size: 1366px 1024px;*/
}

.jumbotron{
	width: 78%;
	height: 1000px;
	margin: 0 auto 0;
}

.footContainer{
	text-align: center;
}

.pic1{
	margin-left: 20px; 
	-webkit-transform: rotate(-5deg); 
	-moz-transform: rotate(-5deg); 
	transform: rotate(-5deg);
}

.pic2{
	margin-left: 120px; 
	-webkit-transform: rotate(-20deg); 
	-moz-transform: rotate(-20deg); 
	transform: rotate(-20deg);
}

.pic3
{
	margin-left: 250px; 
	margin-top: 0px; 
	-webkit-transform: rotate(5deg); 
	-moz-transform: rotate(5deg); 
	transform: rotate(5deg);
}
	
.pic4
{
	margin-left: 400px;  
	-webkit-transform: rotate(-10deg); 
	-moz-transform: rotate(-10deg); 
	transform: rotate(-10deg);
}

.pic5
{
	margin-left: 560px;  
	-webkit-transform: rotate(-10deg); 
	-moz-transform: rotate(-10deg); 
	transform: rotate(-10deg);
}

.pic6
{
	margin-left: 700px; 
	-webkit-transform: rotate(10deg); 
	-moz-transform: rotate(10deg); 
	transform: rotate(10deg);
}

.pic7
{
	margin-left: 900px; 
	-webkit-transform: rotate(20deg); 
	-moz-transform: rotate(20deg); 
	transform: rotate(20deg);
}